<% content_for :navbar_links do %>
  <div class="new_contact"><a href="/contacts/new">New Contact</a></div>
  <div class="search"><a href="#">Search</a></div>
  <div class="profile"><a href="#">Your Profile</a></div>
  <div class="logout"><a href="/profiles/logout">Logout</a></div>
<% end %>

<% content_for :header do %>
  <div class="main-header">
  </div>
<% end %>

<% if @contacts.empty? %>
  <%= "You have no contacts!" %>
<% else %>
  <% @contacts.each do |id, data| %>
    <div class="contact-card">

      <div class="color-header">

        <div class="header-icons">
          <% case data['category']%>
          <% when 'family' %>
            <img src="/images/family.svg" alt="Family category icon">
          <% when 'friends' %>
            <img src="/images/heart.svg" alt="Friends category icon">
          <% else %>
            <img src="/images/business-suitcase.svg" alt="Professional category icon">
          <% end %>

          <div class="buttons">
          <form action="/contacts/edit/<%= id %>" method="get">
              <button class="contact-card-button edit"><img src="/images/pencil-box.svg" alt="Edit contact icon"></button>
          </form>

          <form action="/contacts/delete/<%= id %>" method="post">
              <button class="contact-card-button delete"><img src="/images/trash.svg" alt="Delete contact icon"></button>
          </form>
          </div>
        </div>

        <img class="contact-logo" src="/images/contact.png">
      </div>

      <div class="name"><%= data['name'] %></div>
      <div class="job"><%= data['job'] %></div>

      <div class="other-data">
        <p><%= data['email'] %></p>
        <p class><%= data['phone_number'] %></p>
        <p class="city"><%= data['city'] %></p>
      </div>

      <div class="notes"><%= data['notes'] %></div>

    </div>
  <% end %>
<% end %>