<% content_for :navbar_links do %>
  <div class="new_contact"><a href="/contacts/new">New Contact</a></div>
  <div class="search"><a href="#">Search</a></div>
  <div class="profile"><a href="#">Your Profile</a></div>
  <div class="logout"><a href="/profiles/logout">Logout</a></div>
<% end %>

<% content_for :header do %>
  <div class="main-header">
    Main header
    Welcome profile
  </div>
<% end %>

<% if @contacts.empty? %>
  <%= "You have no contacts!" %>
<% else %>
  <% @contacts.values.each do |contact| %>
    <div class="card contact">
      <div class="contact-card-left">
        <img class="contact-card-logo" src="/images/contact.png" alt="Contact logo">
        <div class="contact-card-buttons">
          <input class="contact-card-button-edit" type="button" value="Edit">
          <input class="contact-card-button-delete" type="button" value="Delet">
        </div>
      </div>
      <div class="contact-card-right">
        <p class="name"><%= contact['name'] %></p>
        <p><%= contact['category'] %></p>
        <p><%= contact['job'] %></p>
        <p><%= contact['email'] %></p>
        <p><%= contact['phone_number'] %></p>
        <p><%= contact['city'] %></p>
        <p><%= contact['notes'] %></p>
      </div>
    </div> 
  <% end %>
<% end %>