<% content_for :navbar_links do %>
  <div class="new_contact"><a href="/contacts/new">New Contact</a></div>

  <div class="logout"><a href="/profiles/logout">Logout</a></div>
<% end %>

<form action="/contacts/edit/<%= params[:id] %>" method="post" class="main-form">
    <label for="name">Name: </label>
    <input type="text" name="name" maxlength="45" required value="<%= @data['name'] %>">

    <%# Show current category already selected %>
    <fieldset>
      <legend>*Choose a contact category:</legend>

      <div>
        <input type="radio" name="category" id="family" value="family" 
          <%= @data['category'] == 'family' ? 'checked' : nil %>
        >
        <label for="family">Family</label>
      </div>

      <div>
        <input type="radio" name="category" id="friends" value="friends" 
          <%= @data['category'] == 'friends' ? 'checked' : nil %>
        >
        <label for="friends">Friends</label>
      </div>

      <div>
        <input type="radio" name="category" id="professional" value="professional" 
          <%= @data['category'] == 'professional' ? 'checked' : nil %>
        >
        <label for="professional">Professional</label>
      </div>

    </fieldset>

    <label for="job">Job: </label>
    <input type="text" name="job" maxlength="45" value=<%= @data['job'] %>>

    <label for="email">Email: </label>
    <input type="email" name="email" maxlength="45" required value=<%= @data['email'] %>>

    <label for="phone_number">Phone number: </label>
    <input type="text" name="phone_number" maxlength="30" value=<%= @data['phone_number'] %>>

    <label for="city">City: </label>
    <input type="text" name="city" maxlength="45" value=<%= @data['city'] %>>

    <label for="notes">Notes: </label>
    <textarea name="notes" class="notes-input" rows="3" cols="30" maxlength="60">
      <%= @data['notes'] %>
    </textarea>

    <input type="submit" value="Edit contact!">
</form>